.header
  .row
    .span16
      %h1 Welcome
.content
  .section{:id => 'site_name'}
    .row
      .span16
        %form{:action=>'/admin/subdomain/create', :method=>'post'}
          .row
            .span12
              %h3 Site:
          .row
            .span4
              %label="Name"
            .span4
              %input{:type => 'text', :name=> 'subdomain'}
              %span{:class=> 'help-block'}="Site name is currently '#{@user.subdomain}.PhotoGalleri.es'"
            .span4
              %input{:type => 'submit', :value=>'choose site name', :class=>'btn'}


  .section{:id => 'pages'}
    .row
      .span16
        .row
          .span12
            %h3 Pages:
          .span4{:style=> 'padding-top:1em;'}
            %a{:href => '/admin/page/create'} Create a page
        -if @all_pages.count == 0
          .row
            .span16 No pages created yet...
        -else
          .row{:id => 'listed-pages-heading'}
            .span4
              Page name:
            .span4
              Actions
          -@all_pages.each do |page|
            .row
              .span4
                %a{:href => page.name}=page.name
              .span2
                %a{:href => "/admin/page/edit/#{page.id}"} Edit
              .span2
                %a{:href => "/admin/page/delete/#{page.id}"} Delete


